:root {
    --background-color: hsl(200, 50%, 10%);
    --accent-color: hsl(0, 50%, 50%)
}

* {
    font-family: Verdana;
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
}

#hero {
    background-image: url(Images/hero-mountain.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;

    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

#info {
    width: 50%;
    height: 50%;
    
    backdrop-filter: blur(10px);
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.25);

    display: flex;

    img {
        margin-left: 3rem;
        max-width: 50%;
        border-radius: 50%;
        aspect-ratio: 1;
        margin: 2rem;
    }

    div {
        padding: 5rem;
    }
}

nav {
    display: flex;
    justify-content: center;
    margin-top: -7rem;

    position: sticky;
    top: 0;

    a {
        padding: 1rem;
        margin: 2rem;
        text-decoration: none;
        border-radius: 2rem;
        background-color: var(--accent-color);

        box-shadow: 0 0 1rem black;
    }

    a:hover {
        box-shadow: 0 0 1rem 5px var(--accent-color);
    }
}

main {
    padding: 2rem;
    padding-top: 0;

    h1 {
        text-align: center;
        margin: 2rem;
    }

    p {
        font-size: 2rem;
    }
}