@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
	/* random values */

	--container-padding: 12px;
	--resizer-width: 2px;

	/* colors */

	--background-color: hsl(0, 0%, 25%);
	--primary-color: hsl(0, 0%, 15%);
	--secondary-color: hsl(0, 0%, 10%);

	--accent-color: hsl(25, 100%, 65%);
	--dark-accent-color: hsl(25, 100%, 40%);

	/* js values */

	--sidebar-width: 200px;
	--playlists-columns: 1;
	--playlist-padding: var(--container-padding);
}

/* all selector */

* {
	font-family: Poppins;

	box-sizing: border-box;
	padding: 0;
	margin: 0;

	color: white;
}

/* body */

body {
	background-color: var(--background-color);
}

/* buttons */

button {
	background-color: transparent;
	border: none;

	svg {
		vertical-align: middle;
	}

	transition: 250ms;
}

/* scrollbars */

::-webkit-scrollbar {
	width: var(--container-padding);
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: hsl(0, 0%, 10%);
	border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
	background: hsl(0, 0%, 20%);
}

#main-container {
	height: 100vh;
	padding: var(--container-padding);

	/* grid */

	display: grid;

	grid-template-columns: clamp(100px, var(--sidebar-width), 50%) 1fr;
	grid-template-rows: 100px 1fr 100px;

	grid-template-areas: 
	"sidebar header header"
	"sidebar content content"
	"footer footer footer";

	gap: var(--container-padding);
}

/* layout sections */

.layout-section {
	background-color: var(--primary-color);
	border-radius: var(--container-padding);

	position: relative;
}

/* header */

#header {
	grid-area: header;
}

/* sidebar */

#sidebar {
	grid-area: sidebar;

	display: flex;
	flex-direction: column;
}

#sidebar-header {
	height: 100px;
	padding: var(--container-padding);

	flex-shrink: 0;
}

#sidebar-content {
	overflow-x: hidden;
	overflow-y: auto;
}

#sidebar-footer {
	height: 50px;
}

/* content */

#content {
	grid-area: content;
}

/* footer */

#footer {
	grid-area: footer;

	display: grid;
	grid-template-columns: repeat(3, 1fr);

	button {
		border-radius: 50%;
		padding: 10px;
	}

	button:hover {
		background-color: white;
		
		svg {
			fill: black;
		}
	}

	button:active {
		scale: 0.9;
		transition: 50ms;
	}
}

#footer-left {
	margin-right: auto;
	padding: var(--container-padding);
	width: 100%;
}

#footer-middle {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

#footer-right {
	margin-left: auto;
	padding: var(--container-padding);
	width: 100%;

	display: flex;
	justify-content: right;
	align-items: center;
	gap: 10px;
}

/* volume */

#volume-slider {
	appearance: none;

	flex-grow: 1;
	background: var(--secondary-color);
	border-radius: 100vw;
	padding: 3px;
	border: 3px solid white;

	transition: 250ms;
}

#volume-slider::-webkit-slider-thumb {
	appearance: none;

	background: var(--accent-color);
	border-radius: 50%;
	width: 15px;
	height: 15px;
}

#volume-slider:hover {
	background: black;
}

#volume-value {
	width: 4ch;
}

/* resizers */

.resizer {
	cursor: col-resize;
	background-color: transparent;

	width: var(--container-padding);
	height: 100%;
	border: none;

	position: absolute;
	top: 0;

	background-image: linear-gradient(white, white);
	background-size: var(--resizer-width) 5%;
	background-repeat: no-repeat;
	background-position: center;

	transition: background-size 250ms cubic-bezier(0, 0, 0, 1.5);
}

.resizer:hover {
	background-size: var(--resizer-width) 25%;
	transition-delay: 100ms;
}

.resizer:active {
	background-size: var(--resizer-width) 75%;
}

#sidebar-resizer {
	right: calc(var(--container-padding) * -1);
}

/* playlists container */

#playlists {
	display: grid;
	grid-template-columns: repeat(var(--playlists-columns), 1fr);

	gap: var(--container-padding);
	padding: var(--container-padding);
}

/* playlists */

.playlist {
	background-color: var(--secondary-color);
	border-radius: var(--container-padding);
	padding: var(--playlist-padding);
	height: fit-content;

	img {
		width: 100%;
		aspect-ratio: 1;
		object-fit: cover;
		border-radius: calc(var(--container-padding) / 2);
	}
}

/* name classes */

.playlist-name {
	font-size: 0.9rem;
}

.song-name {
	font-size: 0.8rem;
}

.creator-name {
	font-size: 0.7rem;
	color: hsl(0, 0%, 65%);
}

/* js class */

.disabled {
	display: none;
}